.infos{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3,2fr);
  gap: 20px;
}

.card{
  width: 200px;
  height: 150px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #cccccc;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.card:hover, .webr:hover{
  border: 1px solid rgb(42, 148, 194);
}

.card strong{
  color: rgb(143, 142, 142);
  font-size: 16px;
  margin-bottom: 20px;
}

.card h1{
  font-size: 26px;
}