#menu-cati{
  height: 50px !important;
  width: 100% !important;
  background-color: rgb(230, 227, 227) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5) !important;
  padding: 0 20px !important;
}

.menu-action a{
  text-decoration: none !important;
  margin-right: 10px !important;
}

.menu-profile{
  margin-right: 20px !important;
}

.menu-profile span{
  font-size: 14px !important;
}

.bt-cati{
  cursor: pointer !important;
  background-color: rgb(42, 148, 194) !important;
  color: #fff !important;
  padding: 10px !important;
  border: 0 !important;
  border-radius: 5px !important;
}

.bt-cati:hover{
  opacity: 0.8 !important;
  color: #fff !important;
}
